.item{
  padding: 10px;
  padding-left: 30px;
}


.item:focus{
  background-image: linear-gradient(43deg, rgba(49, 46, 196, 1) 30%, rgba(200, 80, 192, 1) 100%);
}

.item-image {
  width: 18px;
  margin-right: 15px;
}


