.App__login-uniform{
  padding: 15px;
}

.App__login-form{
  padding: 15px;
}

.stopSubmit-error {
  padding: 5px;
  color: red;
  border: 2px solid red;
}

.App__login-block {
  padding: 40px;
  background-color: #000000;
  border: solid 1px darkgrey;
  box-shadow: 0 0 6px 1px rgba(0, 0, 0, 1);
  border-radius: 20px;
}