.App__login-uniform{
  padding: 15px;
  max-width: 350px;
  text-align: center;
}

.App__login-form{
  max-width: 100%;
  padding: 15px;
}

.stopSubmit-error{
  margin-top: 5px;
  padding: 5px;
  color: red;
  border: 1px solid red;
}

.App__login-block{
  max-width: 100%;
  padding: 20px;
  background-color: #202020;
  border-radius: 20px;
}

.App__login-form-inputName{
  max-width: 100%;
  margin-bottom: 10px;
  display: block;
}

.App__login-form-inputPassword{
  display: block;
  max-width: 100%;
  margin-bottom: 10px;
}

.App__login-form-input-rememberMe{
  width: 15px;
}

.App__login-form-input-rememberMe-text{
  display: inline-block;
}

.App__login-form-buttonLogin{
  width: 100%;
  display: block;
  margin-top: 10px;
  display: block;
  text-align: center;
  padding: 7px;
  background-color: #98FB98;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 500;
  padding-bottom: 9px;
  color: black;
}

@media (max-width: 370px) {
  .App__login-block {
    padding: 20px 5px 20px 5px;
  }
}