.App__guestpage {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.App__guestpage-content {
  padding: 10px;
}

@media (max-width: 370px) {
  .App__guestpage-content {
    display: none;
  }
}