.App__header {
  flex: 0 0 auto;
  background-color: #202020;
  min-height: 60px;
  border-bottom: 1px solid rgba(53, 53, 53, 1);
}


.header__container {
  display: flex;
  justify-content: space-between;
  min-height: 100%;
  padding-left: 20px;
  padding-right: 20px;
}

.header__logoup {
  display: flex;
  align-items: center;
  color: white;
}

.header__logoup h1{
  font-size: 20px;
  letter-spacing: 2px;
}

.header__logoup h1:hover{
  text-shadow:
    0 0 7px #CC33CC,
    0 0 10px #CC33CC,
    0 0 21px #CC33CC,
    0 0 151px #CC33CC;
}

.logo{
  width: 50px;
  margin-right: 10px;
}

.login-block{
  display: flex;
  align-items: center;
}

.login-items{
  text-align: end;
}

.App__button-logout{
  cursor: pointer;
  margin-top: 5px;
  width: 15px;
}

.App__button-login.green-button {
  font-size: 18px;
}

