.App__header {
  background-color: #202020;
  height: 60px;
  border-bottom: 1px solid rgba(53, 53, 53, 1);
}


.header__container {
  display: flex;
  justify-content: space-between;
  height: 100%;
  padding-left: 20px;
  padding-right: 20px;
}

.header__logoup{
  display: flex;
  align-items: center;
}

.logo{
  width: 40px;
  margin-right: 10px;
}

.login-block{
  display: flex;
  align-items: center;
}

.login-items{
  text-align: end;
}

.App__button-logout{
  cursor: pointer;
  margin-top: 5px;
  width: 15px;
}

.App__button-login{
  display: inline-block;
  width: 70px;
  text-align: center;
  padding: 7px;
  background-color: #98FB98;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 500;
  padding-bottom: 9px;
  color: black;
}

