.App__header {
  background-color: #000000;
  height: 60px;
  box-shadow: inset 0px -1px gray;
}


.header__container {
  display: flex;
  justify-content: space-between;
  height: 100%;
  padding-left: 20px;
  padding-right: 20px;
}

.header__logoup{
  display: flex;
  align-items: center;
}

.logo{
  width: 40px;
  margin-right: 10px;
}

.login-block{
  display: flex;
  align-items: center;
}

.login-items{
  text-align: end;
}


