.App__description-aboutMe {
  display: inline-block;
  border: 1px solid rgba(53, 53, 53, 1);
  padding: 30px;
  border-radius: 15px;
}

.App__description-aboutMe-list > div{
  margin-bottom: 20px;
  margin-top: 20px;
}

.App__contacts-list {
  padding: 20px;
}

.App__description-aboutMeform {
  display: inline-block;
  padding: 0px 20px 5px 30px;
}

.App_profile-fullName {
  display: inline-block;
  font-size: 28px;
}

.App__profile-contacts-title {
  display: inline-block;
}

.App__description-editProfile {
  display: inline-block;
  position: absolute;
  right: 50px;
  top: 25px;
}

.App__description-editProfile {
  color: #ffffff;
  text-decoration: underline;
}

.App__description-editProfile:hover {
  color: #ffffff;
  text-decoration: none;
}

