.App__nav{
  padding: 10px;
  grid-area: nav;
  background-color: #202020;
  border-radius: 20px;
  overflow: hidden;
}

.item{
  display: block;
  color: white;
  cursor: pointer;
  border-radius: 20px 20px 20px 20px;
}

.item:hover{
  background-color: #343434;
}