.App__nav{
  padding: 10px 10px 15px 10px;
  grid-area: nav;
  background-color: #202020;
  border-radius: 20px;
  overflow: hidden;
  align-self: start;
}

.item{
  font-size: 18px;
  display: block;
  color: white;
  cursor: pointer;
  border-radius: 20px 20px 20px 20px;
}

.item:hover{
  background-color: #343434;
}