.App__profile-photo {
  display: inline-block;
  width: 100%;
}

.input-changePhoto {
  display: none;
}

.App__profile-info {
  display: flex;
}

.App__profile-photo-block{
  position: relative;
  transition: all 1s ease 0s;
  width: 100%;
}

.App__profile-photo-change {
  opacity: 0;
  border-radius: 50%;
  width: 35px;
  position: absolute;
  bottom: 10px;
  right: 10px;
  cursor: pointer;
  transition: all 0.5s ease;
}

.App__profile-photo-block:hover .App__profile-photo-change{
  opacity: 1;
  transition: all 0.5s ease 0s;
}

.App__profile-photo-change:hover {
  box-shadow:
    0 0 7px #CC33CC,
    0 0 10px #CC33CC,
    0 0 21px #CC33CC,
    0 0 151px #CC33CC;
  transition: all 1s ease;
}

.App__profile-first-block {
  max-width: 270px;
  width: 100%;
  min-width: 185px;
}


