.App__footer {
  background-color: #202020;
  min-height: 60px;
  flex: 0 0 auto;
}

.footer__container{
  min-height: 100%;
}

.App__footer-text {
  padding-top: 20px;
  text-align: center;
  vertical-align: middle;
}