.App__footer {
  background-color: black;
  height: 60px;
  border-top: 1px solid darkgrey;
  box-shadow: 0 0 6px 1px rgba(0, 0, 0, 1);
}

.App__footer-text {
  padding-top: 20px;
  text-align: center;
  vertical-align: middle;
}