.App__footer {
  min-height: 60px;
  flex: 0 0 auto;
}

.footer__container{
  min-height: 100%;
  border-top: 1px solid rgba(53, 53, 53, 1);
}

.App__footer-text {
  padding-top: 20px;
  text-align: center;
  vertical-align: middle;
}