html, body {
  background-color: #202020;
  font-size: 20px;
  color: white;
}

.container {
  max-width: 1220px;
  margin: 0 auto;
}

.App__wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}




